* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input {
    width: 200px !important;
    height: 200px !important;
    font-size: 50pt !important;
    
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: none;
}